:root {
    --primary: #2563ff;
    --secondary: #484b64;
    --darker-yellow: #ffe149;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-size: 16px;
    /* Using default font-family */
}

.jumbotron {
    text-align: center;
    background-color: var(--primary);
    color: white;
    padding: 3px;
    border-radius: var(--border-radius);
}

.main-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* On the left */
.card-buttons {
    border: 0;
    border-top: 2px solid black;
    border-radius: 0;
    text-align: center;
}

.btn {
    width: 100%;
    margin: 5px 0;
    border-radius: var(--border-radius);
}

/* On the right */
.box-on-top {
    border: 1px solid black;
    padding: 1%;
}

.favorable {
    background: green;
    color: white;
    border-radius: var(--border-radius);
    padding: 1%;
}

/* chosen darker yellow instead of yellow since it is easier to read the uvIndex */
.moderate {
    background: var(--darker-yellow);
    color: white;
    border-radius: var(--border-radius);
    padding: 1%;
}

.severe {
    background: red;
    color: white;
    border-radius: var(--border-radius);
    padding: 1%;
}

.card-title {
    font-size: 18px;
}

.card-5 {
    background-color: var(--secondary);
    color: white;
    padding: 1%;
}

.weatherImg {
    width: 55px;
    height: 55px;
}
#weather-Info{
    display: none;
}